@use "@/scss/utils/variables" as variables;
@use "@/scss/utils/mixins" as mixins;
@use "@/scss/utils/media" as media;

.contact {
  &__wrapper {
    max-width: 1440px;
    @include mixins.flex-between;
    gap: 32px;
    padding: 98px 56px 50px 72px;
    margin: 0 auto;

    @include media.media-breakpoint-down-equal(md) {
      flex-direction: column;
      padding: 60px 34px 24px 34px;
    }

    @include media.media-breakpoint-down-equal(xs) {
      padding: 40px 34px;
    }
  }

  &__inner {
    flex: 1 1 40%;
    max-width: 376px;
    margin-top: 16px;

    @include media.media-breakpoint-down-equal(md) {
      flex: 1 1 100%;
      max-width: 100%;
      margin-top: 0;
    }
  }

  &__title {
    letter-spacing: -0.001em;
    margin-bottom: 72px;

    @include media.media-breakpoint-down-equal(md) {
      @include mixins.flex-between;
      margin-bottom: 20px;
      cursor: pointer;
    }

    @include media.media-breakpoint-down-equal(sm) {
      margin-bottom: 10px;
    }
  }

  &__arrow {
    display: none;
    transition: transform 0.3s ease;

    &.rotate {
      transform: rotate(180deg);
    }

    @include media.media-breakpoint-down-equal(md) {
      display: block;
    }
  }

  &__accordion {
    @include media.media-breakpoint-down-equal(md) {
      display: grid;
      grid-template-rows: 0fr;
      overflow: hidden;
      transition: grid-template-rows 0.4s ease;

      &.open {
        grid-template-rows: 1fr;
      }
    }
  }

  &__accordion-content {
    @include media.media-breakpoint-down-equal(md) {
      overflow: hidden;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 16px;
    row-gap: 42px;
    font-family: variables.$second-font-family;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    margin-left: 3px;

    @include media.media-breakpoint-down-equal(md) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media.media-breakpoint-down-equal(sm) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media.media-breakpoint-down-equal(xxs) {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 32px;
    }
  }

  &__phone {
    position: relative;
    @include mixins.flex-column;
    gap: 4px;
  }

  &__phone-number {
    margin-left: 30px;

    @include media.media-breakpoint-down-equal(md) {
      margin-left: 22px;
    }
  }

  &__phone-icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &__network {
    grid-area: 1/2/2/3;
    @include mixins.flex-between-center;
    max-width: 113px;
    margin-top: 8px;

    @include media.media-breakpoint-down-equal(xxs) {
      grid-area: 2/1/3/2;
      margin-top: 0;
    }
  }

  &__email {
    grid-area: 2/1/3/3;
    margin-bottom: 6px;

    @include media.media-breakpoint-down-equal(md) {
      grid-area: 1/3/2/4;
    }

    @include media.media-breakpoint-down-equal(sm) {
      grid-area: 2/1/3/3;
    }

    @include media.media-breakpoint-down-equal(xxs) {
      grid-area: 3/1/4/2;
    }
  }

  &__email-item {
    a {
      max-width: 168px;
      @include mixins.flex-between-center;
      gap: 4px;
    }
  }

  &__address {
    grid-area: 3/1/4/3;

    @include media.media-breakpoint-down-equal(md) {
      grid-area: 2/1/3/2;
    }

    @include media.media-breakpoint-down-equal(sm) {
      grid-area: 3/1/4/3;
    }

    @include media.media-breakpoint-down-equal(xxs) {
      grid-area: 4/1/5/2;
    }
  }

  &__address-block {
    max-width: 216px;
    @include mixins.flex-between-center;
    gap: 4px;
    margin-bottom: 18px;
  }

  &__address-title {
    font-family: variables.$first-font-family;
    font-weight: variables.$font-weight-extra;
    font-size: 17px;
    letter-spacing: -0.001em;
    line-height: 1;
  }

  &__address-text {
    margin-left: 30px;
  }

  &__production {
    grid-area: 4/1/5/3;
    margin-top: -4px;

    @include media.media-breakpoint-down-equal(md) {
      grid-area: 2/2/3/2;
    }

    @include media.media-breakpoint-down-equal(sm) {
      grid-area: 4/1/5/3;
    }

    @include media.media-breakpoint-down-equal(xxs) {
      grid-area: 5/1/6/2;
    }
  }

  &__production-block {
    max-width: 154px;
    @include mixins.flex-between-center;
    gap: 4px;
    margin-bottom: 16px;
  }

  &__map-block {
    position: relative;
    flex: 1 1 58%;
    max-width: 759px;

    @include media.media-breakpoint-down-equal(md) {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }

  &__map {
    width: 100%;
    height: 100%;
  }

  &__place-holder {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
