@use "@/scss/utils/variables" as variables;
@use "@/scss/utils/mixins" as mixins;
@use "@/scss/utils/media" as media;

.contact-block{
  background-color: variables.$color-bg3;

  &__wrapper{
    width: 67.7%;
    max-width: 1300px;
    @include mixins.flex-between-center;
    margin-left: 16.4vw;

    @include media.media-breakpoint-down-equal(l) {
      width: 90%;
      margin: 0 auto;
    }

    @include media.media-breakpoint-down-equal(md) {
      width: 100%;
      padding: 0 0 0 3.3vw;
    }
  }

  &__social {
    width: 80px;
    @include mixins.flex-between;
    gap: 4px;

    @include media.media-breakpoint-down-equal(md) {
      width: 25vw;
      max-width: 120px;
      align-items: center;

      li{
        &:nth-child(1),
        &:nth-child(2){
          svg {
            width: 15px;
            height: 15px;
          }
        }

        &:nth-child(3){
          svg {
            width: 18px;
            height: 18px;
          }
        }
      }
    }
  }

  &__call {
    @include mixins.flex-between-center;
    gap: 25px;

    a {
      @include mixins.flex-between-center;
      gap:4px;
      font-family: variables.$second-font-family;
      font-weight: variables.$font-weight-medium;
      font-size: 12px;
      color: variables.$color-text2;

      span {
        color: variables.$color-bg1;
        font-weight: variables.$font-weight-bold;
      }
    }

    button {
      border: none;
      background: none;
      font-weight: variables.$font-weight-bold;
      font-size: 13px;
      color: variables.$color-bg1;
      text-decoration: underline;
      text-decoration-color: variables.$color-bg1;
      text-underline-offset: 5px;
    }
    @include media.media-breakpoint-up(md) {
      display: none;
    }
  }

  &__sale{
    font-family: variables.$second-font-family;
    font-weight: variables.$font-weight-semibold;
    font-size: 14px;
    color: variables.$color-bg1;
    padding-left: 9.4vw;

    @include media.media-breakpoint-down(md) {
      display: none;
    }
  }

  &__inner {
    width: 246px;
    @include mixins.flex-between-center;
    gap: 16px;

    @include media.media-breakpoint-down-equal(md) {
      width: 54px;
    }
  }

  &__activity {
    width: 158px;
    @include mixins.flex-between-center;
    gap: 16px;
    padding-top: 2px;

    @include media.media-breakpoint-down-equal(md) {
      width: 46vw;
      max-width: 200px;
    }

    a {
      position: relative;
      font-weight: variables.$font-weight-medium;
      font-size: 13px;
      letter-spacing: 0.02em;
      color: variables.$color-text3;

      @include media.media-breakpoint-down-equal(md) {
        letter-spacing: 0.03em;
      }

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -6px;
        width: 100%;
        height: 2px;
        background-color: variables.$color-bg2;
        transform: translateX(-50%) scaleX(0);
        transform-origin: center;
        transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
      }

      @include media.media-breakpoint-up(md) {
        &:hover::after  {
          transform: translateX(-50%) scaleX(1);
        }
      }
    }
  }

  &__activity-login {
    @include mixins.flex-between-center;
    gap: 6px;

    svg {
      @include media.media-breakpoint-down-equal(md) {
        width: 13px;
        height: 13px;
      }
    }
  }

  &__language {
    position: relative;
    width: 50px;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.02em;

    @include media.media-breakpoint-down-equal(md) {
      width: 59px;
      border: 1px solid variables.$color-bg2;
    }
  }

  &__language-btn {
    width: 100%;
    @include mixins.flex-between-center;
    gap: 4px;
    border: none;
    background-color: transparent;
    padding: 13px 10px;

    @include media.media-breakpoint-down-equal(md) {
      gap: 2px;
      padding: 12px 10px 12px 15px;
    }
  }

  &__language-selected{
    color: variables.$color-text2;
    font-weight: variables.$font-weight-semibold;
    letter-spacing: 0.02em;
    line-height: 1;
  }

  &__language-arrow{
    transition: transform 0.3s ease;
  }

  &__language-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: variables.$color-main-bg;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    margin-top: 2px;

    &.active {
      max-height: 60px;
    }
  }

  &__language-item{
    padding: 8px  12px;
    cursor: pointer;
    transition: color 0.1s ease, background-color 0.1s ease;

    @include media.media-breakpoint-up(md) {
      &:hover {
        background-color: variables.$color-bg1;
        color: variables.$color-main-bg;
      }
    }

    &:first-child{
      border-bottom: 1px solid variables.$color-text1;
    }
  }
}