@use "@/scss/utils/variables" as variables;
@use "@/scss/utils/mixins" as mixins;
@use "@/scss/utils/media" as media;

.footer {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 116px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: variables.$color-border2;

    @include media.media-breakpoint-down-equal(md) {
      top: 140px;
    }

    @include media.media-breakpoint-down-equal(sm) {
      top: 250px;
    }
  }

  &__wrapper {
    max-width: 1400px;
    padding: 36px 56px 44px;
    margin: 0 auto;

    @include media.media-breakpoint-down-equal(lg) {
      padding: 26px 34px;
    }

    @include media.media-breakpoint-down-equal(sm) {
      padding: 20px 34px;
    }

  }

  &__inner {
    @include mixins.flex-between;
    gap: 4px;

    &:nth-child(1) {
      margin-bottom: 53px;

      @include media.media-breakpoint-down-equal(md) {
        flex-direction: column;
        margin-bottom: 36px;
      }
    }

    &:nth-child(2) {
      align-items: center;
    }
  }

  &__logo {
    @include media.media-breakpoint-down-equal(xs) {
      flex-direction: row;
      max-width: 180px;

      .logo__name {
        max-width: 100%;
      }
    }
  }

  &__links {
    flex: 1 1 70%;
    max-width: 994px;
    @include mixins.flex-between-center;
    gap: 16px;
    font-size: 15px;
    font-weight: variables.$font-weight-semibold;
    letter-spacing: -0.005em;
    margin-top: 23px;


    @include media.media-breakpoint-down-equal(lg) {
      font-size: 14px;
    }

    @include media.media-breakpoint-down-equal(md) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      max-width: 100%;
      margin-top: 18px;


    }

    @include media.media-breakpoint-down-equal(sm) {
      grid-template-columns: repeat(1, 1fr);
    }

    a {
      transition: color 0.3s ease;
      @media  (hover: hover) {
        &:hover {
          color: variables.$color-bg1;
        }
      }
    }
  }

  &__column {
    &:nth-child(1) {
      flex: 1 1 35%;
      max-width: 506px;

      @include media.media-breakpoint-down-equal(lg) {
        flex: 1 1 35%;
        max-width: none;
      }

      span {
        font-family: variables.$second-font-family;
        font-size: 12px;

        &:nth-child(2),
        &:nth-child(3) {
          color: variables.$color-bg1;
        }

        &:nth-child(2) {
          font-weight: variables.$font-weight-semibold;
        }
      }
    }

    &:nth-child(2){
      flex: 1 1 15%;
      font-family: variables.$second-font-family;
      font-size: 12px;

      @include media.media-breakpoint-down-equal(lg) {
        flex: 1 1 50%;
      }

      @include media.media-breakpoint-down-equal(sm) {
        display: none;
      }
    }

    &:nth-child(3) {
      flex: 1 1 8%;
      max-width: 80px;
      @include mixins.flex-between-center;
      gap: 2px;

      li{
        &:nth-child(3) {

          a{
            display: flex;

            svg {
              align-items: end;
            }
          }
        }
      }
    }
  }
}
