@use "@/scss/utils/variables" as variables;
@use "@/scss/utils/mixins" as mixins;
@use "@/scss/utils/media" as media;

.main-btn {
  font-family: variables.$first-font-family;
  font-weight: variables.$font-weight-semibold;
  font-size: 13px;
  letter-spacing: 0.02em;
  color: variables.$color-main-bg;
  background-color: variables.$color-bg1;
  border: 1.5px solid variables.$color-bg1;
  padding: 14px 19px 13px 22px;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;

  @media (hover: hover) {
    &:hover {
      color: variables.$color-bg1;
      background-color: variables.$color-main-bg;
      border: 1.5px solid variables.$color-bg1;
    }
  }

  &:active {
    color: variables.$color-bg1;
    background-color: variables.$color-main-bg;
    border: 1.5px solid variables.$color-bg1;
  }

  &.white {
    font-size: 15px;
    color: variables.$color-bg1;
    font-weight: variables.$font-weight-bold;
    background-color: variables.$color-main-bg;
    border: 1.5px solid variables.$color-bg1;
    padding: 16px 26px 16px 26px;

    @media (hover: hover) {
      &:hover {
        color: variables.$color-main-bg;
        background-color: variables.$color-bg1;
        border: 1.5px solid variables.$color-bg1;
      }
    }

    @include media.media-breakpoint-down-equal(sm) {
      font-size: 12px;
      padding: 12px 20px 12px 20px;
    }

    &:active {
      color: variables.$color-main-bg;
      background-color: variables.$color-bg1;
      border: 1.5px solid variables.$color-bg1;
    }
  }

  &.hidden {
    display: none;
  }
}
