@use "@/scss/utils/variables" as variables;
@use "@/scss/utils/mixins" as mixins;
@use "@/scss/utils/media" as media;

.navigation{
  font-weight: variables.$font-weight-medium;
  font-size: 15px;
  letter-spacing: 0.02em;
  padding: 24px 56px 16px;

  @include media.media-breakpoint-down-equal(md) {
    padding: 0;
  }

  &__list {
    width: 100%;
    max-width: 1138px;
    @include mixins.flex-between-center;
    gap: 16px;
    margin: 0 auto;

    @include media.media-breakpoint-down-equal(md) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      padding-top: 6px;
    }

    li {
      @include media.media-breakpoint-down-equal(md) {
        width: 100%;
        padding: 15px 0 15px 12px;
        border-bottom: 1px solid variables.$color-border1;

        &:active {
        color: variables.$color-main-bg;
        background-color: variables.$color-bg1;
        }
      }
    }

    a{
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 50%;
        bottom: -12px;
        width: 100%;
        height: 3px;
        background-color: variables.$color-bg1;
        transform: translateX(-50%) scaleX(0);
        transform-origin: center;
        transition: transform 0.6s cubic-bezier(0.57, 0, 0.175, 1);
      }

      @include media.media-breakpoint-up(md) {
        &:hover::after {
          transform: translateX(-50%) scaleX(1);
        }
      }
    }
  }
}