@use "@/scss/utils/variables" as variables;
@use "@/scss/utils/mixins" as mixins;
@use "@/scss/utils/media" as media;

.one-news {
  width: 100%;
  background-color: variables.$color-main-bg;

  &__inner {
    &:nth-child(1) {
      position: relative;
      margin-bottom: 22px;
    }

    &:nth-child(2) {
      max-width: 349px;
      margin-left: 22px;
    }
  }

  &__btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  &__date {
    font-family: variables.$second-font-family;
    font-weight: variables.$font-weight-medium;
    font-size: 13px;
    line-height: 1.69;
    letter-spacing: 0.01em;
    color: variables.$color-text1;
    margin-bottom: 10px;
  }

  &__title {
    font-size: 16px;
    font-weight: variables.$font-weight-bold;
    letter-spacing: -0.001em;
    line-height: 1.4;
    margin-bottom: 12px;
  }

  &__text {
    font-size: 14px;
    font-weight: variables.$font-weight-medium;
    letter-spacing: 0.01em;
    line-height: 1.43;
    margin-bottom: 22px;
  }

  &__btn {
    @include mixins.flex-between-center;
    gap: 10px;
    font-size: 14px;
    font-weight: variables.$font-weight-bold;
    letter-spacing: 0.01em;
    line-height: 1.43;
    margin-bottom: 27px;
    transition:
      color 0.3s ease,
      fill 0.3s ease;

    @media (hover: hover) {
      &:hover {
        color: variables.$color-bg1;
        fill: variables.$color-bg1;
      }
    }

    &:active {
      color: variables.$color-bg1;
      fill: variables.$color-bg1;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
