@use "@/scss/utils/variables" as variables;
@use "@/scss/utils/mixins" as mixins;
@use "@/scss/utils/media" as media;

.shop {
  max-width: 1293px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px 30px;
  margin: 0 auto;

  @include media.media-breakpoint-down-equal(lg) {
    gap: 30px 30px;
  }

  @include media.media-breakpoint-down-equal(md) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media.media-breakpoint-down-equal(sm) {
    grid-template-columns: repeat(1, 1fr);
  }
}
