@use "@/scss/utils/variables" as variables;
@use "@/scss/utils/mixins" as mixins;
@use "@/scss/utils/media" as media;

.swiper-production {
  position: relative;
  width: 100%;

  &__slide {
    position: relative;
    max-height: 470px;
  }

  &__swiper-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }

  &__nav {
    bottom: 0;
    left: 0;
    z-index: 1;
  }

  &__video {
    width: 100%;
    height: 76.5%;

    @include media.media-breakpoint-down-equal(md) {
      height: 88%;
    }

    @include media.media-breakpoint-down-equal(sm) {
      height: 91%;
    }

    @include media.media-breakpoint-down-equal(xs) {
      height: 90.5%;
    }

    @include media.media-breakpoint-down-equal(xxs) {
      height: 86%;
    }
  }
}
