@use "@/scss/utils/variables" as variables;
@use "@/scss/utils/mixins" as mixins;
@use "@/scss/utils/media" as media;

.video-hidden {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  @include mixins.hidden;

  @include media.media-breakpoint-down-equal(md) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }

  &.active {
    @include mixins.shown;
  }
}
