@use "@/scss/utils/variables" as variables;
@use "@/scss/utils/mixins" as mixins;
@use "@/scss/utils/media" as media;

.not-found-hero{

  &__wrapper{
    max-width: 570px;
    text-align: center;
    padding: 112px 24px 100px;
    margin: 0 auto;

    @include media.media-breakpoint-down-equal(md) {
      padding: 80px 24px;
    }
  }

  &__text{
    font-weight: variables.$font-weight-medium;
    line-height: 1.67;
    letter-spacing: 0.01em;
    margin: 33px 0 18px;
  }

  &__link{
    button{
      margin: 0 auto;
    }
  }
}