@use "@/scss/utils/media" as media;
@use "@/scss/utils/variables" as variables;

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-between-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin flex-between-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin hidden {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.6s ease;
}

@mixin shown {
  pointer-events: auto;
  opacity: 1;
}