$first-font-family: "Raleway", sans-serif;
$second-font-family: "Montserrat", sans-serif;
$third-font-family: "Roboto", sans-serif;
$fourth-font-family: "Lato", sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra: 800;
$font-weight-black: 900;

$color-main-bg: #fff;
$color-main-text: #1a2f3f;
$color-text1: #8a8a8a;
$color-text2: #000;
$color-text3: #323232;
$color-bg1: #337d5a;
$color-bg2: #93b474;
$color-bg3: rgba(245, 245, 245, 0.5);
$color-bg4: rgba(0, 0, 0, 0.06);
$color-bg5: rgba(0, 0, 0, 0.45);
$color-bg6: #fcfcfc;
$color-bg7: rgba(255, 255, 255, 0.5);
$color-bg8: rgba(0, 0, 0, 0.2);
$color-bg9: rgba(51, 125, 90, 0.9);
$color-bg10: rgba(249, 249, 249, 0.7);
$color-border1: rgba(0, 0, 0, 0.04);
$color-border2: rgba(0, 0, 0, 0.08);
$color-border3: rgba(255, 255, 255, 0.15);
$color-sale: #dd133b;
$color-new: #e1843e;
$color-inactive: #c4c4c4;
