$first-font-family: "Raleway", sans-serif;
$second-font-family: "Montserrat", sans-serif;
$third-font-family:  "Roboto", sans-serif;
$fourth-font-family: "Lato", sans-serif;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra: 800;
$font-weight-black: 800;

$color-main-bg: #fff;
$color-main-text: #1a2f3f;
$color-text1: #8a8a8a;
$color-text2: #000;
$color-text3: #323232;
$color-bg1:  #337d5a;
$color-bg2:   #93b474;
$color-bg3:   rgba(245, 245, 245, 0.5);
$color-bg4:   rgba(0, 0, 0, 0.06);
$color-bg5:   rgba(0, 0, 0, 0.45);
$color-border1:   rgba(0, 0, 0, 0.04);


