@use "@/scss/utils/variables" as variables;
@use "@/scss/utils/mixins" as mixins;
@use "@/scss/utils/media" as media;

.gallery-hero {
  position: relative;

  &__wrapper {
    position: relative;
    padding: 244px 56px 247px;
    color: variables.$color-main-bg;

    @include media.media-breakpoint-down-equal(lg) {
      padding: 200px 56px;
    }

    @include media.media-breakpoint-down-equal(md) {
      padding: 160px 40px;
    }

    @include media.media-breakpoint-down-equal(sm) {
      padding: 140px 24px;
    }
  }

  &__inner {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  &__title {
    margin-bottom: 22px;
  }

  &__text {
    font-size: 25px;
    font-weight: variables.$font-weight-medium;
    letter-spacing: 0.001em;

    @include media.media-breakpoint-down-equal(md) {
      font-size: 18px;
    }

    @include media.media-breakpoint-down-equal(xs) {
      font-size: 16px;
    }
  }
}
