<div class="shop-card">
  <div class="shop-card__wrapper">
    <div class="shop-card__inner">
      <div class="shop-card__item-swiper">
        <div class="shop-card__item-swiper-wrapper">
          <picture class="shop-card__item-picture">
            <source
              data-srcset="/img/items/item-1.webp"
              srcset=""
              type="image/webp"
            />
            <img
              class="img shop-card__img"
              data-src="/img/items/item-1.png"
              alt="item-walnut"
              src=""
            />
          </picture>

          <picture class="shop-card__item-picture">
            <source
              data-srcset="/img/items/item-6.webp"
              srcset=""
              type="image/webp"
            />
            <img
              class="img shop-card__img"
              data-src="/img/items/item-6.png"
              alt="item-walnut"
              src=""
            />
          </picture>

          <picture class="shop-card__item-picture">
            <source
              data-srcset="/img/items/item-5.webp"
              srcset=""
              type="image/webp"
            />
            <img
              class="img shop-card__img"
              data-src="/img/items/item-5.png"
              alt="item-walnut"
              src=""
            />
          </picture>
        </div>
      </div>

      <div class="shop-card__item-nav">
        <button class="shop-card__item-btn shop-card__item-btn_prev">
          <svg class="shop-card__icon-arrow" width="23px" height="23px">
            <use href="#icon-arrow-right"></use>
          </svg>
        </button>

        <button class="shop-card__item-btn shop-card__item-btn_next">
          <svg class="shop-card__icon-arrow" width="23px" height="23px">
            <use href="#icon-arrow-right"></use>
          </svg>
        </button>
      </div>

      <div class="shop-card__scale-container">
        <svg class="shop-card__scale" width="19px" height="19px">
          <use href="#icon-magnifying-glass"></use>
        </svg>
      </div>
    </div>

    <div class="shop-card__inner">
      <p class="shop-card__title">Грецкий орех</p>

      <p class="shop-card__article-block">
        <span> Арт: </span>

        <span class="shop-card__article"> 0091 </span>
      </p>

      <p class="shop-card__description">
        <span> Орех </span>
        <span class="shop-card__description-characteristics"> сладкий, </span>

        <span class="shop-card__description-characteristics">
          классический,
        </span>

        <span class="shop-card__description-characteristics"> очищенный </span>
      </p>

      <div class="shop-card__container">
        <div class="shop-card__weight-container">
          <svg class="shop-card__weight-icon" width="18px" height="18px">
            <use href="#icon-scale-tool"></use>
          </svg>

          <div class="shop-card__weight">
            <p class="shop-card__weight-title">Масса</p>

            <p class="shop-card__weight-number-block">
              <span class="shop-card__weight-number"> 40 </span>

              <span> г. </span>
            </p>
          </div>
        </div>

        <div class="shop-card__pack-container">
          <svg class="shop-card__bag-icon" width="12px" height="18px">
            <use href="#icon-bag2"></use>
          </svg>

          <div class="shop-card__pack">
            <p class="shop-card__pack-title">Упаковка</p>

            <p class="shop-card__pack-type">вакуумная</p>
          </div>
        </div>
      </div>
    </div>

    <div class="shop-card__inner">
      <div class="shop-card__price-container">
        <p class="shop-card__price-title">Цена:</p>

        <p class="shop-card__price-active">
          <span class="shop-card__price-text"> от </span>

          <span class="shop-card__price-active_number"> 21 </span>

          <span> грн. </span>
        </p>

        <p class="shop-card__price-inactive">
          <span class="shop-card__price-inactive_number"> 21 </span>

          <span> грн. </span>
        </p>
      </div>

      <button class="main-btn shop-card__btn-buy" data-move="shop">
        Купить
      </button>
    </div>

    <div class="shop-card__flag">
      <svg class="shop-card__flag-icon" width="82px" height="32px">
        <use href="#icon-flag-new"></use>
      </svg>

      <p class="shop-card__flag-text">АКЦИЯ</p>
    </div>
  </div>
</div>
