<div class="custom-select {{select-class}}"
data-select="{{select-name}}"
data-required="{{select-required}}"
aria-placeholder="{{select-label}}">
    <input type="hidden"
    name="{{select-name}}"
    class="custom-select__value">
    <button class="custom-select__btn"
    type="button">
        <span class="custom-select__label">
            {{select-label}}
        </span>

        {{> templates/svg-manager id="icon-arrow-down"
        svg-class="custom-select__arrow" width="11px" height="7px"}}
    </button>

    <ul class="custom-select__dropdown">

    </ul>

    <span class="custom-select__error">
        Заполните, пожалуйста, это поле.
    </span>
</div>