<div class="custom-select {{select-class}}"
data-select="select-name">
    <button class="custom-select__btn"
    type="button">
        <span class="custom-select__label">
            {{select-label}}
        </span>

        {{> templates/svg-manager id="icon-arrow-down"
        svg-class="custom-select__arrow" width="11px" height="7px"}}
    </button>

    <ul class="custom-select__dropdown">
        <li
        class="custom-select__option">{{text-1}}</li>

        <li
                class="custom-select__option">{{text-2}}</li>

        <li
                class="custom-select__option">{{text-3}}</li>

        <li
                class="custom-select__option">{{text-4}}</li>
    </ul>
</div>