<div class="eco {{eco-class}}">
  <div class="eco__wrapper">
    <div class="eco__inner">
      {{> templates/svg-manager id="icon-eco" width="70px" height="74px"}}

      <h3 class="eco__title">Эко продукция</h3>

      <p class="eco__text">
        Выращиваем каждое деревцо с любовью, на экологически чистой земле, без
        использования пестицидов и химии
      </p>
    </div>

    {{> templates/img-manager img-alt='Walnuts' img-class='eco__img'
    img-width='1920' img-height='740' }}

    <div class="eco__shadow shadow"></div>
  </div>
</div>
