<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__inner">
      {{> partials/logo class-logo='footer__logo'}}

      <ul class="footer__links">
        <li>
          <a class="footer__link" href="#"> Магазин </a>
        </li>

        <li>
          <a class="footer__link" href="#"> Корпоративным клиентам </a>
        </li>

        <li>
          <a class="footer__link" href="#"> Оплата и доставка </a>
        </li>

        <li>
          <a class="footer__link" href="#"> О производстве </a>
        </li>

        <li>
          <a class="footer__link" href="#"> Новости и статьи </a>
        </li>

        <li>
          <a class="footer__link" href="#"> Галерея </a>
        </li>
      </ul>
    </div>

    <div class="footer__inner">
      <p class="footer__column">
        <span> Разработано </span>

        <span> AVADA </span>

        <span> MEDIA </span>
      </p>

      <p class="footer__column">Copyright © 2019. Все права защищены</p>

      <ul class="footer__column">
        <li class="footer__social">
          <a
                  href="https://www.facebook.com/"
                  target="_blank"
                  rel="noopener noreferrer"
          >
            {{> templates/svg-manager id="icon-facebook" width="13px"
            height="13px"}}
          </a>
        </li>

        <li>
          <a
                  href="https://www.instagram.com/"
                  target="_blank"
                  rel="noopener noreferrer"
          >
            {{> templates/svg-manager id="icon-instagram" width="13px"
            height="13px"}}
          </a>
        </li>

        <li>
          <a
                  href="https://www.youtube.com/"
                  target="_blank"
                  rel="noopener noreferrer"
          >
            {{> templates/svg-manager svg-class="contact-block__icon-youtube"
            id="icon-youtube" width="16px" height="16px" }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
