<div class="gallery-photo {{gallery-photo-class}}">
    <div class="gallery-photo__wrapper">
        <div class="gallery-photo__inner">
            <div class="gallery-photo__card card">
                <div class="gallery-photo__card-inner card__inner">
                    <div class="gallery-photo__card-front card__front">
                        {{> templates/img-manager
                        img-srcset='/img/pages/gallery/gallery-photo-2.webp'
                        img-src='/img/pages/gallery/gallery-photo-2.png' img-alt='Конференция'
                        img-class='gallery-photo__img' img-width='739'
                        img-height='556'}}
                    </div>

                    <div class="gallery-photo__card-back card__back">
                        <p class="gallery-photo__title">
                            SIAL Paris 2018
                        </p>

                        <p class="gallery-photo__text">
                            В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали
                            на крупнейшей продовольственной выставке Европы
                            <span>
                       SIAL Paris 2018
                    </span>
                        </p>

                        {{> templates/svg-manager id="icon-water-mark" width="322px"
                        height="293px" svg-class='gallery-photo__icon'}}
                    </div>
                </div>
            </div>
        </div>

        <div class="gallery-photo__inner">
            <div class="gallery-photo__card card">
                <div class="gallery-photo__card-inner card__inner">
                    <div class="gallery-photo__card-front card__front">
                        {{> templates/img-manager
                        img-srcset='/img/pages/gallery/gallery-photo-7.webp'
                        img-src='/img/pages/gallery/gallery-photo-7.png' img-alt='Поле'
                        img-class='gallery-photo__img' img-width='520'
                        img-height='526'}}
                    </div>

                    <div class="gallery-photo__card-back card__back">
                        <p class="gallery-photo__title">
                            SIAL Paris 2018
                        </p>

                        <p class="gallery-photo__text">
                            В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали
                            на крупнейшей продовольственной выставке Европы
                            <span>
                       SIAL Paris 2018
                    </span>
                        </p>

                        {{> templates/svg-manager id="icon-water-mark" width="322px"
                        height="293px" svg-class='gallery-photo__icon'}}
                    </div>
                </div>
            </div>
        </div>

        <div class="gallery-photo__inner">
            {{> partials/gallery-video
            img-srcset-gallery='/img/pages/gallery/gallery-photo-3.webp'
            img-src-gallery='/img/pages/gallery/gallery-photo-3.png'
            img-alt-gallery='Конференция'
            img-class-gallery='gallery-video__img preloader'
            img-width-gallery='1290'
            img-height-gallery='556'
            video-width-gallery='1290'
            video-height-gallery='556'
            video-src-gallery='/video/perspective-o.mp4'
            }}
        </div>

        <div class="gallery-photo__inner">
            <div class="gallery-photo__card card">
                <div class="gallery-photo__card-inner card__inner">
                    <div class="gallery-photo__card-front card__front">
                        {{> templates/img-manager
                        img-srcset='/img/pages/gallery/gallery-photo-4.webp'
                        img-src='/img/pages/gallery/gallery-photo-4.png' img-alt='Трактор'
                        img-class='gallery-photo__img' img-width='409'
                        img-height='404'}}
                    </div>

                    <div class="gallery-photo__card-back card__back">
                        <p class="gallery-photo__title">
                            SIAL Paris 2018
                        </p>

                        <p class="gallery-photo__text">
                            В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали
                            на крупнейшей продовольственной выставке Европы
                            <span>
                       SIAL Paris 2018
                    </span>
                        </p>

                        {{> templates/svg-manager id="icon-water-mark" width="322px"
                        height="293px" svg-class='gallery-photo__icon'}}
                    </div>
                </div>
            </div>

        </div>

        <div class="gallery-photo__inner">
            <div class="gallery-photo__card card">
                <div class="gallery-photo__card-inner card__inner">
                    <div class="gallery-photo__card-front card__front">
                        {{> templates/img-manager
                        img-srcset='/img/pages/gallery/gallery-photo-5.webp'
                        img-src='/img/pages/gallery/gallery-photo-5.png' img-alt='Конференция'
                        img-class='gallery-photo__img' img-width='409'
                        img-height='404'}}
                    </div>

                    <div class="gallery-photo__card-back card__back">
                        <p class="gallery-photo__title">
                            SIAL Paris 2018
                        </p>

                        <p class="gallery-photo__text">
                            В этом Году при поддержке проекта International Trade Centre Ukraine, и финансировании правительства Швеции, мы побывали
                            на крупнейшей продовольственной выставке Европы
                            <span>
                       SIAL Paris 2018
                    </span>
                        </p>

                        {{> templates/svg-manager id="icon-water-mark" width="322px"
                        height="293px" svg-class='gallery-photo__icon'}}
                    </div>
                </div>
            </div>
        </div>

        <div class="gallery-photo__inner">
            {{> partials/gallery-video
            class-video-inner='gallery-video__inner_small'
            img-srcset-gallery='/img/pages/gallery/gallery-photo-6.webp'
            img-src-gallery='/img/pages/gallery/gallery-photo-6.png'
            img-alt-gallery='Конференция'
            img-class-gallery='gallery-video__img preloader'
            img-width-gallery='409'
            img-height-gallery='404'
            video-width-gallery='409'
            video-height-gallery='404'
            video-src-gallery='/video/perspective-o.mp4'
            }}
        </div>
    </div>
</div>