<section class="info-garden">
  <div class="info-garden__wrapper">
    <div class="info-garden__inner">
      <p class="info-garden__number">
        240

        <span class="info-garden__measuring"> Га </span>
      </p>

      <p class="info-garden__description">
        Cмешанных <br />
        садов
      </p>
    </div>

    <div class="info-garden__inner">
      <p class="info-garden__number">
        1

        <span class="info-garden__measuring"> Га </span>
      </p>

      <p class="info-garden__description">
        Тепличного <br />
        комплекса
      </p>
    </div>

    <div class="info-garden__inner">
      <p class="info-garden__number">
        10

        <span class="info-garden__measuring"> Га </span>
      </p>

      <p class="info-garden__description">
        Первая промышленная плантация <br />
        шиповника в Украине
      </p>
    </div>

    <div class="info-garden__inner">
      <p class="info-garden__number">
        80

        <span class="info-garden__measuring"> % </span>
      </p>

      <p class="info-garden__description">
        Приживаемости <br />
        саженцев
      </p>
    </div>
  </div>
</section>
