<nav class="navigation {{class}}">
  <ul class="navigation__list">
    <li class="navigation__item">
      <a href="#"> Магазин </a>
    </li>

    <li class="navigation__item">
      <a href="#"> О производстве </a>
    </li>

    <li class="navigation__item">
      <a href="#"> Оплата и доставка </a>
    </li>

    <li class="navigation__item">
      <a href="#"> Оптовым и корпоративным клиентам </a>
    </li>

    <li class="navigation__item">
      <a href="#"> Новости и статьи </a>
    </li>

    <li class="navigation__item">
      <a href="#"> Контакты </a>
    </li>
  </ul>
</nav>
