@use "@/scss/utils/variables" as variables;
@use "@/scss/utils/mixins" as mixins;
@use "@/scss/utils/media" as media;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

html,
body {
  overscroll-behavior-y: none;
}

body {
  font-family: variables.$first-font-family;
  font-size: 18px;
  color: variables.$color-main-text;
  background-color: variables.$color-main-bg;
  overflow-x: hidden;

  @include media.media-breakpoint-down-equal(md) {
    font-size: 16px;
  }

  @include media.media-breakpoint-down-equal(sm) {
    font-size: 14px;
  }
}

h1 {
  font-size: 62px;
  font-weight: variables.$font-weight-extra;
  letter-spacing: 0.01em;
  color: variables.$color-main-bg;
  text-align: center;

  @include media.media-breakpoint-down-equal(md) {
    font-size: 46px;
  }

  @include media.media-breakpoint-down-equal(sm) {
    font-size: 34px;
  }

  @include media.media-breakpoint-down-equal(xs) {
    font-size: 28px;
  }
}

h2 {
  font-size: 45px;
  font-weight: variables.$font-weight-extra;
  letter-spacing: 0.01em;

  @include media.media-breakpoint-down-equal(md) {
    font-size: 34px;
  }

  @include media.media-breakpoint-down-equal(sm) {
    font-size: 32px;
  }

  @include media.media-breakpoint-down-equal(xs) {
    font-size: 26px;
  }
}

h3 {
  font-weight: variables.$font-weight-extra;
  font-size: 45px;
  letter-spacing: 0.01em;

  @include media.media-breakpoint-down-equal(lg) {
    font-size: 36px;
  }

  @include media.media-breakpoint-down-equal(sm) {
    font-size: 30px;
  }

  @include media.media-breakpoint-down-equal(xs) {
    font-size: 26px;
  }
}

a {
  text-decoration: none;
  -webkit-text-decoration: none;
  color: inherit;
}

button {
  font-family: variables.$first-font-family;
  border: none;
  background: none;
  padding: 0;
}

.img {
  max-width: 100%;
  height: auto;
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: variables.$color-bg5;
}

.btn-play {
  display: block;
  margin: auto;
}

.hidden {
  visibility: hidden;
}

.video-play {
  opacity: 0;
  pointer-events: none;
}
