@use "@/scss/utils/variables" as variables;
@use "@/scss/utils/mixins" as mixins;
@use "@/scss/utils/media" as media;

.payment-hero {
  position: relative;

  &__wrapper {
    position: relative;
    padding: clamp(120px, 6.5vw, 125px) clamp(24px, 3vw, 56px) clamp(120px, 5.9vw, 114px);
  }

  &__breadcrumbs {
    top: clamp(14px, 2vw, 38px);
  }
}