@use "@/scss/utils/variables" as variables;
@use "@/scss/utils/mixins" as mixins;
@use "@/scss/utils/media" as media;

.news-block {
  &__wrapper {
    max-width: 1400px;
    @include mixins.flex-between;
    gap: clamp(12px, 2vw, 30px);
    padding: 0 56px 28px;
    margin: 0 auto;

    @include media.media-breakpoint-down-equal(md) {
      flex-direction: column;
      padding: 0 34px 32px;
    }

    @include media.media-breakpoint-down-equal(xs) {
      padding: 0 24px 32px;
    }
  }

  .one-news {
    flex-shrink: 1;

    .one-news__wrapper {
      @include media.media-breakpoint-down-equal(md) {
        @include mixins.flex-between;
        gap: clamp(12px, 2vw, 30px);
      }

      @include media.media-breakpoint-down-equal(sm) {
        flex-direction: column;
      }
    }

    .one-news__inner {
      &:nth-child(1) {
        @include media.media-breakpoint-down-equal(sm) {
          margin-bottom: 0;
          height: 360px;
        }

        @include media.media-breakpoint-down-equal(xs) {
          height: 300px;
        }
      }

      &:nth-child(2) {
        margin-left: 0;

        @include media.media-breakpoint-down-equal(md) {
          max-width: 60%;
        }

        @include media.media-breakpoint-down-equal(sm) {
          max-width: 100%;
        }
      }
    }

    .one-news__container {
      @include media.media-breakpoint-down-equal(sm) {
        height: 360px;
      }

      @include media.media-breakpoint-down-equal(xs) {
        height: 300px;
      }
    }

    .one-news__date {
      @include media.media-breakpoint-down-equal(sm) {
        margin-bottom: 4px;
      }
    }

    .one-news__text {
      @include media.media-breakpoint-down-equal(sm) {
        margin-bottom: 12px;
      }
    }
  }

  .one-news__btn {
    @include media.media-breakpoint-down-equal(sm) {
      margin-bottom: 0;
    }
  }
}
