@use "@/scss/utils/variables" as variables;
@use "@/scss/utils/mixins" as mixins;
@use "@/scss/utils/media" as media;

.main-benefit {
  &__wrapper {
    max-width: 1402px;
    text-align: center;
    padding: 86px 56px 100px;
    margin: 0 auto;

    @include media.media-breakpoint-down-equal(lg) {
      padding: 60px 34px;
    }

    @include media.media-breakpoint-down-equal(md) {
      padding: 40px 34px;
    }
  }

  &__title {
    margin-bottom: 34px;
  }

  &__subtitle {
    max-width: 560px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    font-weight: variables.$font-weight-medium;
    margin: 0 auto 63px;

    @include media.media-breakpoint-down-equal(lg) {
      margin-bottom: 40px;
    }

    @include media.media-breakpoint-down-equal(md) {
      margin-bottom: 30px;
    }
  }

  &__card-container {
    max-width: 100%;
    @include mixins.flex-between-center;
    gap: 16px;
    color: variables.$color-main-bg;

    @include media.media-breakpoint-down-equal(sm) {
      flex-direction: column;
    }
  }

  &__card {
    position: relative;
    max-width: 410px;
    width: 100%;
    height: 525px;
    cursor: pointer;
    overflow: hidden;

    @include media.media-breakpoint-down-equal(sm) {
      max-width: 100%;
      height: 300px;
    }

    &.flip {
      .main-benefit__card-inner {
        transform: rotateY(180deg);
      }
    }
  }

  &__card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: center;
  }

  &__card-front,
  &__card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
  }

  &__card-front {
    @include mixins.flex-centering;
    transform-style: preserve-3d;
    z-index: 2;
    padding: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: variables.$color-bg8;
      z-index: -1;
      pointer-events: none;
    }
  }

  &__card-back {
    transform: rotateY(180deg);
    @include mixins.flex-centering;
    padding: 10px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: variables.$color-bg9;
      z-index: -1;
      pointer-events: none;
    }

    .main-benefit__card-title {
      margin: 10px 0 26px;
    }

    .main-benefit__card-text {
      margin-bottom: 12px;
    }

    svg {
      margin-top: 0.2vw;

      @include media.media-breakpoint-down-equal(sm) {
        margin-top: 0;
      }
    }
  }

  &__card-title {
    font-size: 40px;
    font-weight: variables.$font-weight-extra;
    letter-spacing: 0.01em;
    margin-top: 20px;

    @include media.media-breakpoint-down-equal(md) {
      font-size: 32px;
    }

    @include media.media-breakpoint-down-equal(sm) {
      font-size: 36px;
    }

    @include media.media-breakpoint-down-equal(sm) {
      font-size: 30px;
    }
  }

  &__card-text {
    max-width: 352px;
    font-weight: variables.$font-weight-semibold;
    letter-spacing: 0.01em;
    line-height: 1.275;

    @include media.media-breakpoint-down-equal(md) {
      font-size: 14px;
    }

    span {
      display: block;
      margin-bottom: 21px;
    }
  }

  &__card-img {
    position: absolute;
    inset: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
  }
}
