@use "@/scss/base/reset";
@use "@/scss/base/base";

@use "@/scss/partials/burger";
@use "@/scss/partials/contact-block";
@use "@/scss/partials/header";
@use "@/scss/partials/navigation";
@use "@/scss/partials/main-btn";
@use "@/scss/partials/video-preloader";